<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>

  <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>

  <header class="ut-header">
    <div class="ut-header__container">
      <div class="ut-logo">
        <img src="/images/ut-logo.png" alt="UpTo logo" class="ut-logo__img">
      </div>

      <input type="checkbox" id="utMainToggle">
      <label for="utMainToggle" class="ut-menu-toggler">
        <span class="ut-menu-toggler__line"></span>
        <span class="ut-menu-toggler__line"></span>
        <span class="ut-menu-toggler__line"></span>
      </label>


     <div class="ut-toggle">
        <ul class="ut-menu">
            <li class="ut-menu__item">
              <a class="ut-menu__link" href="#">Home</a>
            </li>
            <li class="ut-menu__item">
              <a class="ut-menu__link" href="#">About</a>
            </li>
            <li class="ut-menu__item">
              <a class="ut-menu__link" href="#">Product</a>
            </li>
            <li class="ut-menu__item">
              <a class="ut-menu__link" href="#">Contact</a>
            </li>
            <li class="ut-menu__item">
              <a class="ut-menu__link" href="#">Get started</a>
            </li>
          </ul>
     </div>
    </div>
  </header>


  

</body>
</html>