<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>

  <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
  <link rel="stylesheet" href="/css/main.css">


  <style>
    
    label {
      width: 30px;
      height: 30px;
      border: 2px solid black;
      cursor: pointer;
    }

    #check {
      display: none;
    }

    .menu {
      opacity: 0;
      transition: 500ms;
    }
    #check:checked + label {
      background: green;
    }

     #check:checked + .menu {
      opacity: 1;
    }
  </style>
</head>
<body>

  <label for="check">menu</label>

  <input type="checkbox" id="check">
  
  <ul class="menu">
    <li>Home</li>
    <li>About</li>
    <li>Contact</li>
  </ul>

</body>
</html>