body {
    font-family: $ut-f-primary;
}

.ut-h1 {


    @include moreThan(75em) {
        font-size: 5.8rem;
    }
}


.ut-h2 {


    @include moreThan(75em) {
        font-size: 4.8rem;
    }
}

.ut-h3 {


    @include moreThan(75em) {
        font-size: 3.2rem;
    }
}