// Colors
$ut-c-primary: #2020df;
$ut-c-secondary: #ecf2ff;
$ut-c-accent: #303239;
$ut-c-text: #8c8c98;
$ut-c-href: #c3acac;

// Fonts
$ut-f-primary: 'Poppins', sans-serif;

// em, rem 10em, 10px, 10%, 10rem